body{
    background:#f0f3ef;
}
.jd_all_nav{
    height:30px;
    background-color: #e3e4e5;
    width: 100%;
    line-height: 30px;
}
.location_place{
    width:40px;
    text-align: center;
    height:30px;
    position:relative;
}
.all_city{
    display:none;
    position:absolute;
    top:30px;
    left:0px;
    z-index: 10;
    background:#fff;
}
.all_city a{
    width:20px;
    white-space: nowrap;
    padding:3px;
}
.location_place:hover{
    background:#fff;

}
.location{
    margin-left: 200px;
}
.jd_ul_nav li{
    text-align: center;
    padding: 0px 8px 0px 8px;
    color:#999;
}
.nav_line{
    float: right;
    width:1px;
    height:20px;
    border-left: 1px solid #ccc;
    margin:5px 3px;
    padding:0px!important;
}
.login{
    color:#f10215;
    margin-left: 10px;
}
.jd_search{
    height:140px;
    position: relative;
    background:#f0f3ef;
}
.jd_logo{
    background:url(../images/jd_logo.png) no-repeat;
    width:190px;
    height:170px;
    position: absolute;
    top:-30px;
        -webkit-box-shadow: 0 -12px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 -12px 10px rgba(0,0,0,.2);
    box-shadow: 0 -12px 10px rgba(0,0,0,.2);
}
.search_input_wrap{
    margin-left: 350px;
    position: relative;
}
.search_input{
    padding-top: 30px;
}
.search_input input{
        width: 450px;
    height: 35px;
    border: 1px solid transparent;
    line-height: 35px;
}
.search_input button{
    width:50px;
    height:33px;
    line-height: 33px;
    text-align: center;
    background:#f10215;
    color:#fff;
    vertical-align: middle;
}
.my_shopcar{
    color:#f10214;
    width: 188px;
    height: 33px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;
    vertical-align: middle;
    margin-left: 42px;
}
.ewm{
    background:url(../images/ewm.png) no-repeat;
    position: absolute;
    right: 3px;
    width: 66px;
    height: 66px;
    border: 1px solid #cfcfcf;
    top: 0px;
}
.search_txt{
    margin-left: 350px;
    padding-top: 8px;
}
.search_txt a{
    margin-right:10px!important;
}
.jd_h{
    color:#f10215;
}
.search_navitems{
    height: 40px;
    margin-top: 0px;
    margin-left: 220px;
}
.search_navitems a{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #333;
    margin-left: 30px;
}
.treasure{
    width: 190px;
    height: 40px;
    background: url(../images/5a.png) center no-repeat;
    margin-left: 28px;
}
.midum_nav{

}
.midum_nav_one{
    float: left;
    height: 490px;
    margin-right: 10px;
    background:#fff;
    margin-top: 2px;
    padding:15px 0px;
    position:relative;
}
.midum_ul{
    width:190px;
}
.midum_ul li em{
    height:28px;
    padding-left: 10px;
    line-height: 28px;
}
.midum_nav_two{
    float:left;
    width:590px;
    height:480px;
    margin-top: 10px;
}
.midum_nav_three{
    float:left;
    margin-left: 14px;
    margin-top: 10px;
}
.midum_nav_three img{
    margin-bottom:15px;
}
.midum_nav_four{
    float:right;
    width:190px;
    height:500px;
    background:url(../images/slider.png) no-repeat;
}
.lunbo{
    position:relative;
    overflow:hidden;
    height:480px;
    width:100%;
    margin-bottom: 20px;
}
.lunbo_dian{
    width:300px;
    position:absolute;
    bottom:10px;
    z-index: 9;
    left:40%;
}
.lunbo_dian dt{
    width:10px;
    height:10px;
    border-radius: 50%;
    background:rgba(0,0,0,.5);
    margin:0px 5px;
    cursor:pointer;
}
.lunbo_dian .yl{
    background:#fff;
}
.lunbo_img{
    width:100%;
}
.lunbo_img img{
    width:100%;
    height:480px;
}
.lunbo_left,.lunbo_right{
    position:absolute;
    top:45%;
    display:inline-block;
    width:50px;
    height:50px;
    background:rgba(0,0,0,.3);
    border-radius: 50%;
    color:#fff;
    z-index: 10;
    text-align: center;
    cursor:pointer;
    line-height: 50px;
    display:none;
}
.lunbo_left{
    left:5px;
}
.lunbo_right{
    right:5px;
}
.goods_ul{
    position:absolute;
    top:0px;
    left:0px;
}
.goods_ul{
        width: 590px;
    height: 490px;
    background-color: #fff;
    position: absolute;
    display: none;
    z-index: 10;
    left: 200px;    
    padding: 11px;
}