.top_nav{
    width: 100%;
    height: 46px;
    font: 12px/46px "微软雅黑",Arial;
    color: #c4c4c4;
    background: rgba(72,19,26,0.9);
}
.top_nav_ul{
    color:#fff;
    font-size: 15px;
}
.top_nav_ul li{
    float: left;
    margin-right:25px; 
}
.top_nav_ul img{
    vertical-align: middle;
    margin-top: -1px;
}
.line{
    height:20px;
    margin-top: 13px;
    width:1px;
    background:#fff;
    display: inline-block;
}
.search1{
       background: #1C98FC;
    width: 24px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    margin-left: 4px;
    position: relative;
}
.search1 em{
     display:inline-block;
    background:url(../images/rev_sign07.png) no-repeat;
    width:20px;
    height:20px;
    margin-left: 5px;
    position:absolute;
    top:3px;
    left:0px;
    background-size: 80%;
   /* vertical-align: middle;
    margin-top: -6px;*/
}
.top_nav_ul_one{
    margin-right: 30px!important;
}
.search_input1{
    background:#7B4D4D;
    color:#fff;
}
.main_nav{
    height:60px;
    position:relative;
    background:rgba(47,122,202,0.89);
}
.logos{
    position:absolute;
    background:#fff;
    z-index: 1;
        left: 0px;
    width: 596px;
    height: 60px;
}
.logos img{
    float:right;
        margin-right: 73px;
    width: 170px;
    margin-top: 20px;
}
.logo_arrow{
    width:32px;
    height:60px;
    background:url(../images/arrow.png) no-repeat;
    position: absolute;
    right: 0px;
    top: 0px;
    background-size:100% 100%;
}
.logo_nav{
    margin-left:596px;
    height:60px;
}
.logo_nav ul{
    position:absolute;
    left:596px;
    height:60px;
    padding-left: 20px;
}
.logo_nav ul li:hover{
    background:#fff;
    color:#2e83c6;
}
.nav_s li{  
    width: 163px;
    margin-left: -10px;
    z-index: 9;
    float: left;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    padding: 0px 20px;
    text-align: center;
    font-size: 14px;
    color:#fff;
}
.lunbo{
    position:relative;
    overflow:hidden;
    height:480px;
    width:100%;
    margin-bottom: 20px;
}
.lunbo_dian{
    width:300px;
    position:absolute;
    bottom:10px;
    z-index: 9;
    left:40%;
}
.lunbo_dian dt{
    width:10px;
    height:10px;
    border-radius: 50%;
    background:rgba(0,0,0,.5);
    margin:0px 5px;
    cursor:pointer;
}
.lunbo_dian .yl{
    background:#fff;
}
.lunbo_img{
    width:100%;
}
.lunbo_img img{
    width:100%;
    height:480px;
}
.lunbo_left,.lunbo_right{
    position:absolute;
    top:45%;
    display:inline-block;
    width:50px;
    height:50px;
    background:rgba(0,0,0,.3);
    border-radius: 50%;
    color:#fff;
    z-index: 10;
    text-align: center;
    cursor:pointer;
    line-height: 50px;
    display:none;
}
.lunbo_left{
    left:5px;
}
.lunbo_right{
    right:5px;
}
.goods_ul{
    position:absolute;
    top:0px;
    left:0px;
}
.goods_ul{
        width: 590px;
    height: 490px;
    background-color: #fff;
    position: absolute;
    display: none;
    z-index: 10;
    left: 200px;    
    padding: 11px;
}
.index_pro{
    background:url(../images/rev_bg01.jpg) no-repeat;
    width:100%;
    height:377px;
    background-size: cover;
    margin-top: -20px;
}
.pro_hd{
    height:70px;
    background:rgba(255,255,255,.3);
}
.pro_hd strong{
    color:#fff;
    height:70px;
    line-height: 70px;
    text-align: center;
    font-size: 20px;
}
.lbs{
    width:300px;
}
.pro_hd p{
    float:right;
    position:relative;
}
.pro_hd input{
    margin-top: 20px;
    float:right;
    width:200px;
    height:38px;
    background:#337EB5;
    border:1px solid #fff;
    color:#fff;
    padding-left: 10px;
}
.pro_hd button{
    background:url(../images/rev_sign07.png) no-repeat;
    width:20px;
    height:20px;
    position:absolute;
    right: 7px;
    top: 30px;
}
.lbs{
    position:relative;
    overflow:hidden;
    vertical-align: middle;
    width:660px;
    height:40px;
    margin-left: 100px;
    margin-top: -5px;
}
.lbs ul{
    position:absolute;
    left:0px;
    width:1000%;
}
.lbs ul li{
    margin-right: 30px;
}
.lb1{
   overflow:hidden;
   position:relative;
   height:200px;
   z-index: 10;
}
.lb1 ul{
    position:absolute;
    left:0;
    width:1000%;
}
.lb1 ul li{
    margin-top: 10px;
    overflow:hidden;
    width:240px;
    color:#fff;
}
.lb1 ul li p{
    height:30px;
    line-height: 30px;
    white-space: nowrap;
    width:240px;
    vertical-align: top;
}
.lb1 ul li em{
    color:rgba(255,255,255,.5);
    height:30px;
    line-height: 30px;
    white-space: nowrap;
    width:240px;
    vertical-align: top;
}
.lb1 ul li img{
    width:160px;
}
.lb1 ul li img:hover{
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
    width:160px;
}
.pro_hs{
    margin-top: 10px;
    position:relative;
}
.btn_left{
    position: absolute;
    top: 82px;
    background: url(../images/rev_btn01.png) no-repeat;
    width: 39px;
    height: 43px;
    opacity: 0.6;
    transition: opacity 0.5s;
    left:285px;
    z-index: 10;
    color:#fff;
}
.btn_right{
    position: absolute;
    top: 82px;
    background: url(../images/rev_btn01.png) no-repeat;
    width: 39px;
    height: 43px;
    opacity: 0.6;
    transition: opacity 0.5s;
    right:285px;
    z-index: 10;
    color:#fff;
    background-position: -41px 4px;
}
.show_model .wrap_1200{
    display:flex;
    justify-content: space-between;
    margin-top: 26px;
}
.models{
    width:380px;
}
.models h3{
    color:#1c8dee;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.models img{
    width:100%;
}
.models span{
    display:inline-block;
    margin:10px 0;
    line-height: 20px;
}
.models p{
    height:2px;
    position:relative;
}
.models p em{
    display:inline-block;
    height:2px;
    width:0%;
    position:absolute;
    background:#519FF1;
}
.nwes{
    background:#FBFBFB;
    height:388px;
    margin-top: 40px;
    border-top:1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 30px;
}
.nwes .wrap_1200{
    display:flex;
    justify-content: space-between;
}
.news_model{
    width:380px;
}
.news_model h3{
    color:#1c8dee;
    font-weight: bold;
    font-size: 20px;
    height:50px;
    line-height: 50px;
}
.news_model h4{
    color:#1c8dee;
    font-weight: bold;
    font-size: 16px;
    height:40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
}
.new_list{
    border-bottom: 1px solid #ddd;
    padding: 9px 0px;
}
.new_list p{
   line-height: 22px;
}
.new_list i{
    display:inline-block;
    width:20px;
    height:20px;
    background:url(../images/icon_01.jpg) no-repeat;
    vertical-align: middle;
}
.new_list span{
    margin-top: 20px;
}
.new_list h5{
    color:#1c8dee;
    font-weight: bold;
    font-size: 14px;
    height:30px;
    line-height: 30px;
}
.news_model video{
    width:230px;
    height:160px;
}
.footer{
    height:160px;
    margin-top: 30px;
}
.foot_left img{
    margin-bottom: 20px;
}
.foot_right select{
    float:right;
    width:134px;
    border:1px solid #ddd;
    margin-bottom: 20px;
}
.foot_right p{
    float:right;
}
.totop{
    position:fixed;
    bottom:20px;
    right:300px;
}