.shop_head_nav{
    height: 50px;
    line-height: 50px;
    background:#333;
    padding:0 10px;
}
.login{
    color: #fff;
}
.register{
    color: #fff;
}
.shop_head_nav ul li{
    margin: 0 10px;
    cursor: pointer;
}
.shop_head_search{
    min-height: 50px;
}
.shop_head_search .logo{
    width: 100px;
    height:100px;
    background-size: 100% 100%;
    border-radius: 10px;
}
.search_input{
    width:200px;
    height:40px;
    line-height: 40px;
    padding-left: 10px;
    color:#ddd;
    font-size: 14px;
}
