.shop_head_nav{
    height: 50px;
    line-height: 50px;
    background:#333;
    padding:0 10px;
}
.login{
    color: #fff;
}
.register{
    color: #fff;
}
.shop_head_nav ul li{
    margin: 0 10px;
    cursor: pointer;
}
.shop_head_search{
    min-height: 50px;
    margin:10px 0px;
    padding:10px;
    /*background:#EAF0E8;*/
}
.shop_head_search .logo_img{
    width: 70px;
    height:70px;
     background:url(../images/logo.png) no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
}
.search{
    position: relative;
    margin: 0 auto;
    vertical-align: top;
    margin-top: 16px;
    overflow: hidden;
   border-radius: 5px;
}
.goods_shop{
    position:absolute;
    left:0px;
    background:#83CDFF;
    border-top-left-radius: 5px;
    cursor:pointer;
}
.shopcar{
    width:60px;
    height:60px;
    background:url(../images/shopcar.png) no-repeat;
    background-size: 100% 100%;
}
.goods_shop em,.goods_shop span{
    width:40px;
    text-align: center;
    height:40px;
    line-height: 40px;
    display: block;
    border-radius: 5px;
    color:#fff;
}
.search_input{
    width:400px;
    height:40px;
    line-height: 40px;
    padding-left: 40px;
    color:#ddd;
    font-size: 14px;
    border:1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
}
.search_btn{
    padding:10px;
    border-radius: 5px;
    color:#fff;
     width:30px;
     height:30px;
     text-align: center;
     line-height: 30px;
     background:#FF0000;
}
.shop_show_list{
    /*display:flex;
    justify-content: space-between;*/
    padding:0px 10px;
}
.goods_list{
    width:259px;
    height:194px; 
    position:relative;
    
}
.goods_list img{
    width:98%;
    height:100%;
    display:block;
    border-radius: 5px;
    margin:0 auto;
}
.goods_list:hover .top_cover{
  display:block;
}
.top_cover{
    display:none;
    position:absolute;
    z-index: 10;
    top: 0;
    background:rgba(0,0,0,.2);
    width:100%;
    height:100%;
}
.shop_title{
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
}
.shop_title h3{
    font-size: 20px;
}
.shops{
    min-height: 460px;
    margin-top: 20px;
    padding-bottom: 20px;
    /*background:#EAF0E8;*/
    margin-bottom: 20px;
}
.shop_show_big{
    height:300px;
    width:200px;
    vertical-align: top;
    text-align: center;
}
.goods_show_big h4{
    font-size: 20px;
    text-align: center;
}
.goods_show_big span{
    font-size: 16px;
    text-align: center;
}
.goods_show_big img{
    vertical-align: bottom;
    width:100%;
}
.models{
    padding:0px 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.shop_list{
    display:flex;
    justify-content: space-between;
}
.shop_list_model{
    padding:10px;
    border:1px solid #ddd;
    border-radius:5px;
}
.list_model_head{
    position:relative;
}
.list_model_head p{
    position:absolute;
    bottom:0px;
    width:100%;
    background: rgba(0,0,0,.5);
    color:#fff;
    font-size: 14px;
    text-align: center;
}
.list_model_foot{

}
.shop_txt{
    font-size: 18px;
    color:#333;
}
.shop_price strong{
  font-size: 20px;
}
.footer{
    background:#333;
    width:100%;
    min-height: 200px;
    color:#fff;
}
.detil_list{
    height:80px;
    line-height: 80px;
    background:#333;
    color:#fff;
    font-size:16px ;
}
.detil_list li{
    width:50px;
    text-align: center;
}
.detil_list strong{
    margin-left: 20px;
    margin-left: 10px;
    background:#FF0000;
    padding:10px;
}
.detail_shop_ct{
   /* display:flex;*/
    /*justify-content: space-between;*/
   padding-top: 20px;
}
.detail_model{
    display:inline-block;
border:1px solid #ddd;
margin:0 5px;
}
.detail_model:hover{
   border:1px solid #ef1b46; 
}
.detail_model_head{
    height:290px;
    width:285px;  
}
.detail_model_head img{
    height:100%;
    width:100%;
}
.detail_model_foot{
    width:285px;
    padding:0 10px; 
}
.detail_img img{
    width:30px;
    height:30px;
    margin:5px;
}
.detail_img img:hover{
    border:1px solid #ef1b46;
}
.detail_img{
    margin-top: 10px;
}
.detail_model_price{
    margin-bottom: 10px;
}
.border{
    border:1px solid #ef1b46;
}

