.navs{
    height: 50px;
    line-height: 50px;
    color:#eee;
    padding: 0px 10px;
}
.navs a{
   color:#333;
}
.shop_show_head ul .x1 ,.shop_show_content ul .x1{
    text-align: center;
}
.shop_show_content ul li{
    height:80px;
    line-height: 80px;
}
.shop_show_head ul{
    height:50px;
    line-height: 50px;
}
.shop_show_head ul input{
  vertical-align: middle;
  margin-left: 10px;
  width: 16px;
  height:16px;
}
.shop_show_content ul input{
  vertical-align: middle;
  margin-left: 10px;
  width: 16px;
  height:16px;
}
.goods img{
    display: inline-block;
    width:80px;
    height:80px;
}
.goods p{
    display:inline-block;
    line-height:20px;
}
.shop_show_head{
    border-bottom:1px solid #ddd;
}
.shop_show_content{
    padding:10px 0px;
    border-bottom:1px solid #ddd;
}
.shop_show_foot{
    border:1px solid #ddd;
    border-left: 0px;
    border-right:0px;
    margin-top: 20px;
    padding-left:10px;
    height:50px;
    line-height: 50px;
}
.shop_show_foot input{
   width:16px;
   height:16px;
   vertical-align: middle;
   margin-left: 10px;
}
.shop_show_foot span{
    margin-right:10px;
}
.shop_show_foot button{
    height: 50px;
    width: 100px;
    background: #ff9a00;
    color: #fff;
}
.nos{
   background: #ddd!important; 
}
.reduce{
    width:30px;
    height:40px;
    text-align: center;
    line-height: 40px;
    display:inline-block;
    font-size: 20px;
    cursor: pointer;
}
.add{
    width:30px;
    height:40px;
    text-align: center;
    line-height: 40px;
    display:inline-block;
    font-size: 20px;
    cursor: pointer;
}
.count{
   margin-left: 0px!important;
   width:30px!important;
   height:40px!important;
   text-align: center;
   line-height: 40px!important;
}
.close{
    font-size: 20px;
    color:#ddd;
    cursor:pointer;
}