.fd_d{
    width:400px;
    height:400px;
}
.fd{
    border:1px solid #ddd;
    margin-top: 10px;
}
.fd:hover{
    border:1px solid #ef1b46;
}
.fd_d img{
    width:100%;
    height:100%;
}
.fd_s{
    margin-top: 10px;
    margin-bottom: 10px;
}
.fd_s img{
    width:60px;
    height:60px;
    margin:0 5px;
}
.shop_nav_list{
    background:#333;
    width:1200px;
    height:30px;
    line-height: 30px;
    color:#fff;
}
.shop_nav_list ul li{display:inline-block;}
.buy{
    width:600px;
    margin-left: 10px;
    margin-top: 10px;
}
.shopcar_price{
    height:80px;
    width:100%;
    background:url(../images/shop_pricepng.png) no-repeat;
    margin-top:20px;
    padding-left: 10px;
}
.shopcar_price p{
    height:44px;
    line-height: 44px;
}
.reduce,.add{
    display:inline-block;
    /*border:1px solid #333;*/
    width:22px;
    height:22px;
    line-height: 22px;
    vertical-align: middle;
    text-align: center;
    background:#eee;
    cursor: pointer;
}
.reduce{
    margin-left: 10px;
}
.shop_count{
    width:30px;
    border:1px solid #bbb;
    vertical-align: middle;
    height:22px;
    line-height: 22px;
    margin:0px 10px;
    text-align: center;
}
.goods_price{
    height:70px;
    line-height: 70px;
}
.now_buy{
    margin-top: 30px;
    height:60px;
}
.now_buy span{
    background:#FF1C45;
    padding:10px 16px;
    margin-right:20px;
    font-size:20px ;
    color:#fff;
}
.fen{
    background:#ffeded!important;
    border:1px solid #FF1C45!important;
    color:#FF1C45!important;
}
.dingzhi p span{
    color:#333;
    margin-right: 10px;
}
.dingzhi p{
    color:#FF1C45;
}
.kuai{
    border-left: 1px solid #ddd;
    margin-left: 20px;
    margin-top: 20px;
    padding:10px;
}
.kuai_content{
    position: relative;
    margin-bottom: 20px;
}
.kuai_content p{
    position:absolute;
    bottom:0px;
    width:100%;
    height:30px;
    text-align: center;
    background:rgba(255,255,255,.9);
}
.kuai_head{
    width:100%;
    text-align: center;
    height:50px;
    line-height: 50px;
}
.kuai_content img{
   width:100px;
   height:100px;
}